<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Повезло?</title>
    <link rel="icon" href="/icons/light_character/light-masyanya-glasses.png" />
    <link rel="stylesheet" href="/styles/light_mode/feedback.css" />
  </head>
  <body>
    <% if(guess  === question[0].company_exists) { %>
    <div class="container container-right">
    <div class="title-good">Молодец</div>
    <div class="image-good-wrapper">
        <img src="/icons/light_character/light-masyanya-true.png">
    </div>
    <div class="company-name"><%= question[0].company_name %>
      <% if(question[0].company_exists === 1) { %>
        СУЩЕСТВУЕТ
      <% } else { %>
        НЕ СУЩЕСТВУЕТ
      <% } %>
    </div>
    <div class="company-description"><%= question[0].description_ru %></div>
    <% console.log(newPlayerInfo[0].total_questions) %>
    <% if(newPlayerInfo[0].total_questions < 6) { %>
      <a href="/game/light-mode/ru/questions/<%= newPlayerInfo[0].player_id %>"><button class="btn-back">ВЕРНУТЬСЯ К ИГРЕ</button></a>
      <% } else { %>
        <a href="/game/light-mode/ru/<%= newPlayerInfo[0].player_id %>/final_result"><button class="btn-back">ВЕРНУТЬСЯ К ИГРЕ</button></a>  
    </div>
    <% } %>
    <% } else { %>
      <div class="container container-false">
      <div class="title-bad">Хорошая попытка, но нет</div>
      <div class="image-bad-wrapper">
        <img src="/icons/light_character/light-masyanya-lie.png">
      </div>
      <div class="company-name"><%= question[0].company_name %>
        <% if(question[0].company_exists === 1) { %>
          СУЩЕСТВУЕТ
        <% } else { %>
          НЕ СУЩЕСТВУЕТ
        <% } %>
      </div>
      <div class="company-description"><%= question[0].description_ru %></div>
      <% console.log(newPlayerInfo[0].total_questions) %>
      <% if(newPlayerInfo[0].total_questions < 6) { %>
      <a href="/game/light-mode/ru/questions/<%= newPlayerInfo[0].player_id %>"><button class="btn-back">ВЕРНУТЬСЯ К ИГРЕ</button></a>
      <% } else { %>
        <a href="/game/light-mode/ru/<%= newPlayerInfo[0].player_id %>/final_result"><button class="btn-back">ВЕРНУТЬСЯ К ИГРЕ</button></a>  
      <% } %>
      </div>
    <% } %>
  </body>
</html>



